/*----- CSS Reset -----*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

/*----- Main -----*/

body{
  background: url('background.png');
  font-family: 'Nunito', Arial, sans-serif;
  color: #222f3e;
}

body::selection{
  background-color: #2e86de;
  color: #fff;
}

body::-moz-selection{
  background-color: #2e86de;
  color: #fff;
}

#main{
  position: fixed;
  box-sizing: border-box;
  height: 435px;
  width: 400px;
  padding-top: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #d2d7d3;
  background-color: #fff;
}

#ava{
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  border: 3px solid #2e86de;
  margin-bottom: 20px;
}

h1, h2, h3{
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2e86de;
}

h2{
  font-weight: bold;
  margin-bottom: 10px;
}

h2 span {
  font-weight: normal;
}

h3{
  font-size: 0.75em;
  font-style: italic;
  margin-bottom: 20px;

}

.find{
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 10px;
}

#social{
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

#social a{
  cursor: pointer;
  opacity: 0.75;
  color: #757575;
}

#social a:hover{
  opacity: 1;
  transition: 0.3s;
}

.fa-github-square:hover{
  color: #211f1f;
}

.fa-facebook-square:hover{
  color: #4267b2;
}

.fa-instagram:hover{
  color: #cd486b;
}

.fa-pinterest-square:hover{
  color: #e60023;
}

#mad{
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  margin-bottom: 10px;
}

.quote{
  font-family: 'Courgette', cursive;
  font-size: 0.75em;
  opacity: 0.8;
  text-align: center;
}

#footer{
  position: absolute;
  bottom: 0;
  height: 15px;
  background: linear-gradient(to right, #2e86de , #2576c8);
	background: -webkit-linear-gradient(left, #2e86de , #2576c8);
	background: -o-linear-gradient(right, #2e86de , #2576c8);
	background: -moz-linear-gradient(right, #2e86de , #2576c8);
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
