/* #a Base Styles */

:root {
  color-scheme: light dark;

  /* #e Colors */

  /* #f Hex */

  --white: #fff;
  --black: #333;

  --bg-color: var(--white);
  --fg-color: var(--black);

  /* #f RGB */

  --white-rgb: 255, 255, 255;
  --black-rgb: 51, 51, 51;

  --bg-color-rgb: var(--white-rgb);
  --fg-color-rgb: var(--black-rgb);

  /* #e Fonts */

  --libre-franklin-font: "Libre Franklin", Arial, sans-serif;
  --quicksand-font: "Quicksand", Arial, sans-serif;

  /* #e Sizes */

  --margin-x-to-body: 2rem;
}

@media (min-width: 768px) {
  :root {
    /* #e Sizes */

    --margin-x-to-body: 4rem;
  }
}

@media (min-width: 992px) {
  :root {
    /* #e Sizes */

    --margin-x-to-body: 6rem;
  }
}

body[data-theme="dark"] {
  /* #e Colors */

  /* #f Hex */

  --bg-color: var(--black);
  --fg-color: var(--white);

  /* #f RGB */

  --bg-color-rgb: var(--black-rgb);
  --fg-color-rgb: var(--white-rgb);
}

::selection {
  background-color: rgba(var(--fg-color-rgb), 0.75);
  color: var(--bg-color);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--quicksand-font);
  color: var(--fg-color);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--fg-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

body > * {
  padding: 0 var(--margin-x-to-body);
  width: 100%;
  max-width: 1366px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--libre-franklin-font);
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

button {
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding: 0 1rem;
  background-color: var(--fg-color);
  border: 0.2rem solid var(--fg-color);
  font-weight: bold;
  color: var(--bg-color);
  text-align: center;
  transition: background-color 0.25s, color 0.25s;
}

.btn > * {
  color: var(--bg-color);
}

.btn:hover {
  background-color: transparent;
  color: var(--fg-color)
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  background-image: linear-gradient(to top, var(--fg-color) 50%, transparent 50%);
  background-position-y: top;
  background-size: 100% 200%;
  border: 0.2rem solid var(--fg-color);
  text-align: center;
  transition: background-position-y 0.25s;
}

.btn-icon:hover {
  background-position-y: bottom;
}

.btn-icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.btn-icon span {
  flex-grow: 1;
  font-weight: bold;
  transition: color 0.25s;
}

.btn-icon:hover span {
  color: var(--bg-color);
}

ul.no-list, ol.no-list {
  padding: 0;
  list-style: none;
}

.highlight {
  padding: 0.1rem 0.25rem;
  background-color: rgba(var(--fg-color-rgb), 0.75);
  font-weight: bold;
  color: var(--bg-color);
}

/* #a Main Styles */

/* #b Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  min-height: 35rem;
  max-height: 768px;
  padding: 2rem;
  text-align: center;
}

/* #c Skip to Main */

#skip-to-main {
  --fa-animation-duration: 2s;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

/* #c Theme Toggle */

#theme-toggle {
  position: absolute;
  top: 2rem;
  right: var(--margin-x-to-body);
  font-size: 1.5rem;
  opacity: 0.75;
  transition: opacity 0.5s;
}

#theme-toggle:hover {
  opacity: 1;
}

/* #c Logo */

header img {
  max-width: 5rem;
}

body[data-theme="dark"] img {
  filter: invert(1);
}

/* #c Header Text */

header h1 {
  font-size: 2.5rem;
}

/* #c Social Media */

#social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#social-media ul {
  display: flex;
  gap: 1rem;
}

#social-media ul a {
  font-size: 2rem;
  opacity: 0.75;
  transition: opacity 0.5s;
}

#social-media ul a:hover {
  opacity: 1;
}

/* #b Main */

/* #c Portfolio */

#portfolio {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#portfolio > section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#portfolio ul {
  display: grid;
  gap: 3rem;
}

#portfolio .more-button {
  min-width: 10rem;
}

@media (min-width: 768px) {
  #portfolio ul {
    grid-template-columns: repeat(3, 1fr);
  }

  #portfolio .more-button {
    align-self: center;
  }
}

#portfolio ul li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

#portfolio .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#portfolio .item .image-container {
  height: 15rem;
  overflow: hidden;
}

#portfolio .item .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(1) grayscale(1);
  transition: filter 0.5s, transform 0.5s;
}

body[data-theme="dark"] #portfolio .item .image-container img {
  filter: brightness(0.9) grayscale(1);
}

#portfolio .item:hover .image-container img {
  filter: brightness(1) grayscale(0);
  transform: scale(1.1);
}

body[data-theme="dark"] #portfolio .item:hover .image-container img {
  filter: brightness(0.9) grayscale(0);
}

#portfolio .item p {
  font-size: 1.25rem;
  font-weight: bold;
}

/* #b Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 576px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
